.navbar-container{
    gap: 15px;
    display: flex;
}
.navbar-block ul{
    display: flex; 
}
.navbar-block ul li{
    position: relative;
    font-size: 16px;
    padding: 10px 0px;
}
.li-after::after{
    margin-left: -6px;
    top: 10px;
    left: -20px;
    position: absolute;
    content: "";
    height: 20px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.27);
}
.ul-icon:hover li , .ul li:hover ,.ul-class li:hover{
    font-weight: 700;
}
.ul-class li{
    user-select: none;
    cursor: pointer;
}
.icon:nth-child(1){
    color: red;
}
.ul li{
    user-select:none;
    cursor: pointer;
    width: 85px;
    text-align: center;
}
.ul-icon{
    cursor: pointer;
    display: flex; 
    align-items: center;
}
.ul-class{
    width: 200px;
    display: flex;
    justify-content: space-between; 
}
.navbar-block{
    padding: 0px 10px;
}

.ul{
    width: 440px;
    gap: 15px;
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-top: 5px;
    font-size: 20px;
}
.ul-icon-active{
    font-weight: 700 !important;
}