.navbar-container{
    gap: 15px;
    display: flex;
}
.navbar-block ul{
    display: flex; 
}
.navbar-block ul li{
    position: relative;
    font-size: 18px;
    padding: 10px 20px;
}
.li-after::after{
    margin-left: -6px;
    top: 10px;
    left: 0;
    position: absolute;
    content: "";
    height: 20px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.27);
}
    
