a{
    text-decoration: none;
}
li{
    list-style: none;
}
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----header----- */
.hader-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.header-left{
    gap: 20px;
    display: flex;
    align-items: center;
}
.hader-container img{
    border-radius: 5px;
    width: 90px;
    height: 50px;
    object-fit: cover;
}
.header-left-row{
    align-items: center;
    gap: 20px;
    display: flex;
}
.header-right{
    align-items: center;
    gap: 20px;
    display: flex;
}
.IoIosGlobe {
    font-size: 22px;
}
.li-after{
    position: relative;
}
.li-after::after{
    margin-left: -10px;
    top: -2px;
    left: 0;
    position: absolute;
    content: "";
    height: 20px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.27);
}
.p-element{
    color: white;
    padding: 10px 30px;
    border-radius:40px;
    background-color: #166aea;
}


/* ---nav---- */
.nav-container{

    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 50, 184);
}
.nav-text h2{
    font-size: 5.5rem;
}
.nav-text h3{
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}
.nav-text{
    color:white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 0px;
    text-align: center;
    margin: 0 auto;
}
.nav-block{
    padding-top: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}   
.nav-block button{
    font-size: 20px;
    cursor: pointer;
    border: none;
    padding: 10px 0px;
    background-color: white;
    border-radius: 40px;
}
.nav-block p{
    font-size: 10px;
}
.nav-img {
    padding-bottom: 50px;
}
.nav-img img{
    width: 100%;
    max-width: 950px;
}


/* ---Box---- */
.box-center{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.box-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box-container h2{
    width: 100%;
    font-size: 3.5rem;
    max-width: 500px;
}
.box-container-block{
    display: flex;
    gap: 40px;
}
.box-block p{
    color: rgba(0, 0, 0, 0.675);
}
.box-block h3{
    font-size: 20px;
    font-weight: 700;
}
.box-block{
    border-top:1px solid rgba(0, 0, 0, 0.555)  ;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 260px;
}


.box-button button {
    padding: 10px 40px;
    background-color: black;
    color: white;
    border-radius: 40px;
}


/* ----content---- */
.content{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
.content-container{
    display: flex;
    gap: 70px;
}
.content-left {
    width: 350px;
}
.content-right p{
    line-height: 25px;
    max-width: 350px;
    width: 100%;
}
.content-left h2{
    font-size: 3rem;
}
.content-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-right h3{
    font-weight: 600;
    border: none;
    display: flex;
    align-items: start;
    cursor: pointer;
    font-size: 13px;
    
}
.content-icon:hover {
    transition: .2s;
    color: #166aea;
}
.content-right p{
    font-size: 14px;
}
.content-icon{
    cursor: pointer;
    transition: .2s;
    align-items: center;
    border-bottom:1px solid ;
    width: fit-content;
    display: flex;
    gap: 5px;
}