a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----header----- */
.hader-container{
    z-index: 1000;
    width: 100%;
    background-color: white;
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}
.header-left{
    gap: 20px;
    display: flex;
    align-items: center;
}
.hader-container img{
    border-radius: 5px;
    width: 90px;
    height: 50px;
    object-fit: cover;
}
.header-left-row{
    align-items: center;
    gap: 40px;
    display: flex;
}
.header-right{
    align-items: center;
    gap: 20px;
    display: flex;
}
.IoIosGlobe:hover{
    color: #166aea;
}
.IoIosGlobe {
    cursor: pointer;
    font-size: 22px;
}
.li-after:hover{
    color: #166aea;
}
.li-after{
    text-decoration: underline;
    cursor: pointer;
    position: relative;
}
.li-after::after{
    margin-left: -10px;
    top:-2px;
    left: -13px;
    position: absolute;
    content: "";
    height: 20px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.27);
}
.p-element:hover{
    background-color: #4089f6;
}
.p-element{
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    border-radius:40px;
    background-color: #166aea;
}


/* ---nav---- */
.nav-container{
    padding-top: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 50, 184);
}
.nav-text h2{
    font-size: 5.5rem;
}
.nav-text h3{
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}
.nav-text{
    color:white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 0px;
    text-align: center;
    margin: 0 auto;
}
.button-incon button{
    padding-left: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    border: none;
}
.button-incon{
    gap: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 20px !important;
    width: 190px;
    cursor: pointer;
    background-color: white;
    border-radius: 40px;
}
.button-incon:hover .icon-right{
    display: block !important;
    margin-right: 10px !important;
    transition: .2s;
    opacity: 1;
}
.icon-right{
    opacity: 0;
    transition: .2s;
    margin-right:-10px;;
    margin-top:5px ;
    color: black;
    font-size: 22px;
}
.button-incon button{
}
.nav-block{
    padding-top: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}   
.nav-block p{
    font-size: 10px;
}
.nav-img {
    padding-bottom: 50px;
}
.nav-img img{
    width: 100%;
    max-width: 950px;
}


/* ---Box---- */
.box-center{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.box-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.box-container h2{
    width: 100%;
    font-size: 3.5rem;
    max-width: 500px;
}
.box-container-block{
    display: flex;
    gap: 40px;
}
.box-block p{
    color: rgba(0, 0, 0, 0.675);
}
.box-block h3{
    font-size: 20px;
    font-weight: 700;
}
.box-block{
    border-top:1px solid rgba(0, 0, 0, 0.555)  ;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 260px;
}


.box-button button {
    transition: .3s;
    cursor: pointer;
    border: none;
    padding: 15px 40px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 40px;
}
.box-button:hover button{
    transition: .3s;
    background-color: #166aea;
}

/* ----content---- */
.content{
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
.content-container{
    display: flex;
    gap: 70px;
}
.content-left {
    width: 350px;
}
.content-right p{
    line-height: 25px;
    max-width: 350px;
    width: 100%;
}
.content-left h2{
    font-size: 3rem;
}
.content-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-right h3{
    font-weight: 600;
    border: none;
    display: flex;
    align-items: start;
    cursor: pointer;
    font-size: 13px;
    
}
.content-icon:hover {
    transition: .2s;
    color: #166aea;
}
.content-right p{
    font-size: 14px;
}
.content-icon{
    cursor: pointer;
    transition: .2s;
    align-items: center;
    border-bottom:1px solid ;
    width: fit-content;
    display: flex;
    gap: 5px;
}


/* ----Section---- */

.section-container{
    height: 600px;
    width: 100%;
    display: flex;
    padding-top: 80px 0px;
}

.section-left ul li{
    list-style:disc;
    margin-left: 15px;
    text-decoration: none;
}
.section-left ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section-left-box h2{
    width: 100%;
    max-width: 300px;
    font-size:3.5rem;
}
.section-left-box p:hover{
    transition: .2s;
    background-color: rgba(0, 0, 0, 0.83);
}
.section-left-box p{
    cursor: pointer;
    transition: .2s;
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 22px;
    border-radius: 40px;
    width: fit-content;
}
.section-left{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    display: flex;
    background-color: rgb(202, 199, 199)
}
.section-left-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section-right{
    background-size: cover ;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/imgs/SL_060521_43530_17.jpg');

}

video{
    border-radius: 15px;
    width:100%;
    height:470px;
    object-fit: cover;
}



/* ----page-box---- */
.page-container{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    background-color: rgb(193, 155, 248);
}
.page-box h2 {
    font-size: 3rem;
}
.page-box p:hover{
    background-color: rgba(0, 0, 0, 0.781);
}
.page-box p{
    cursor: pointer;
    padding: 15px 30px;
    color: white;
    background-color: black;
    width: fit-content;
    border-radius: 40px;
}
.page-box{
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}



/* ----box-two--- */
.box-cente-two{
    background-color: rgb(243, 239, 229);
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}
.box-icon-right:hover p ,.box-icon-right:hover{
    color: #166aea;
    transition: .3s;
}
.box-icon-right{
    transition: .3s;
    cursor: pointer;
    width: fit-content;
    border-bottom:1px solid ;
    font-size: 14px;
    padding-top: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* ---footer--- */
.footer{
    font-size: 12px;
    display: flex;
    padding: 50px 0px;
    justify-content: center;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}
.footer-block ul li:hover{
    color: #166aea;
}
.li-weight:hover{
    color: black !important;
}
.footer-block ul li{
    cursor: pointer;
}
.footer-block ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-block-end{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    max-width: 200px;
}
.footer-block-end p{
    line-height: 20px;
}
.footer-block-end img{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    object-fit: cover;
}
.li-weight{
    font-size: 14px;
    font-weight: 700;
}


/* ---footer-End---- */
.footer-right{
    font-size: 18px;
    display: flex;
    gap: 10px;
}
.footer-container-end{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.159);
    padding: 30px 0px 20px 0px;
}
.footer-end{
    width: 100%;
    max-width: 1100px;
    display: flex; 
    justify-content: space-between;
}
.footer-left{
    display: flex;
    gap: 50px;
    font-size: 12px;
}


